
.idea/

Editor/obj/

.automation/Build/ClientSimBuild/obj/

.automation/Build/ClientSimBuild/bin/

.automation/Build/.nuke/temp/

Docs/Published/

.github/.nuke/temp/

ClientSim_UnityProject/Packages/com.vrchat.ClientSim/Editor/obj/

ClientSim_UnityProject/Packages/com.vrchat.ClientSim/Editor/obj.meta

Tools/Docusaurus/static/images/

Tools/Nuke/.nuke/

Tools/DocFx/obj/
